# Pandas Exercises

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [30]:
import pandas as pd

# !ls "/content/drive/My Drive/24.1/exa623-financas-computacionais/atv09/banklist.csv"
banks = pd.read_csv('/content/drive/My Drive/24.1/exa623-financas-computacionais/atv09/banklist.csv')

** Show the head of the dataframe **

In [31]:
print(banks.head())

                                           Bank Name                City  ST  \
0                                Fayette County Bank          Saint Elmo  IL
1  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee  WI
2                                     First NBC Bank         New Orleans  LA
3                                      Proficio Bank  Cottonwood Heights  UT
4                      Seaway Bank and Trust Company             Chicago  IL

    CERT                Acquiring Institution Closing Date Updated Date
0   1802            United Fidelity Bank, fsb    26-May-17     1-Jun-17
1  30003  First-Citizens Bank & Trust Company     5-May-17     1-Jun-17
2  58302                         Whitney Bank    28-Apr-17    23-May-17
3  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4  19328                  State Bank of Texas    27-Jan-17    18-May-17

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [ ]:
print(banks.columns)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [ ]:
num_states = banks['ST'].nunique()
print(num_states)

44

44

** Get a list or array of all the states in the data set. **

In [ ]:
states = banks['ST'].unique()
print(states)

['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'], dtype=object)

** What are the top 5 states with the most failed banks? **

In [ ]:
top_5_states = banks['ST'].value_counts().head(5)
print(top_5_states)

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: Bank Name, dtype: int64

** What are the top 5 acquiring institutions? **

In [ ]:
top_5_acquirers = banks['Acquiring Institution'].value_counts().head(5)
print(top_5_acquirers)

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Acquiring Institution, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [ ]:
state_bank_of_texas_acquisitions = banks[banks['Acquiring Institution'] == 'State Bank of Texas']

num_acquired_by_sbt = state_bank_of_texas_acquisitions.shape[0]

num_acquired_in_tx = state_bank_of_texas_acquisitions[state_bank_of_texas_acquisitions['ST'] == 'TX'].shape[0]

print(state_bank_of_texas_acquisitions)

                                 Bank Name     City  ST   CERT  \
4            Seaway Bank and Trust Company  Chicago  IL  19328
21   The National Republic Bank of Chicago  Chicago  IL    916
450         Millennium State Bank of Texas   Dallas  TX  57667

    Acquiring Institution Closing Date Updated Date
4     State Bank of Texas    27-Jan-17    18-May-17
21    State Bank of Texas    24-Oct-14     6-Jan-16
450   State Bank of Texas     2-Jul-09    26-Oct-12

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

** What is the most common city in California for a bank to fail in?**

In [ ]:
most_common_city_ca = banks[banks['ST'] == 'CA']['City'].value_counts().idxmax()
print(most_common_city_ca)

Los Angeles

,Bank Name,ST,CERT,Acquiring Institution,Closing Date,Updated Date
City,,,,,,
Los Angeles,4,4,4,4,4,4

** How many failed banks don't have the word "Bank" in their name? **

In [ ]:
no_bank_in_name = banks[~banks['Bank Name'].str.contains("Bank")].shape[0]
print(no_bank_in_name)

Quantidade de bancos falidos sem a palavra 'Bank' no nome: 14

14

** How many bank names start with the letter 's' ? **

In [ ]:
banks_starting_with_s = banks[banks['Bank Name'].str.startswith('S')].shape[0]
print(banks_starting_with_s)

53

53

** How many CERT values are above 20000 ? **

In [ ]:
cert_above_20000 = banks[banks['CERT'] > 20000].shape[0]
print(cert_above_20000)

417

417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [ ]:
two_word_banks = banks[banks['Bank Name'].str.split().apply(len) == 2].shape[0]
print(two_word_banks)

114

114